<div class="sidebar">

    <div class="sidebar-header">

        <div class="logo">
            <i class="fa-regular fa-user"></i>
        </div>

        <div>
            <h2>Sinh viên</h2>
            <span>Cổng thông tin</span>
        </div>

    </div>

    <div class="menu">

        <a href="profile.html" class="menu-item active">
            <i class="fa-regular fa-user"></i>
            <span>Thông tin cá nhân</span>
        </a>

        <a href="open-courses.html" class="menu-item">
            <i class="fa-regular fa-book-open"></i>
            <span>Học phần mở</span>
        </a>

        <a href="register-course.html" class="menu-item">
            <i class="fa-regular fa-clipboard"></i>
            <span>Đăng ký học phần</span>
        </a>

        <a href="registered-courses.html" class="menu-item">
            <i class="fa-regular fa-book"></i>
            <span>Học phần đã đăng ký</span>
        </a>

        <a href="schedule.html" class="menu-item">
            <i class="fa-regular fa-calendar"></i>
            <span>Lịch học cá nhân</span>
        </a>

    </div>

    <div class="logout">

        <a href="#" class="menu-item" id="logoutBtn"> 
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Đăng xuất</span>
        </a>

    </div>

</div>