*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#eef5ff;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-container{
    width:100%;
    display:flex;
    justify-content:center;
}

.login-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
        0 15px 35px rgba(0,0,0,.08);
}

.logo{

    width:80px;
    height:80px;

    background:#2563eb;

    color:white;

    margin:0 auto 25px;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:35px;
}

.login-card h1{

    text-align:center;

    color:#1f2937;

    margin-bottom:10px;
}

.subtitle{

    text-align:center;

    color:#6b7280;

    margin-bottom:30px;
}

.form-group{
    margin-bottom:18px;
}

.form-group label{

    display:block;

    margin-bottom:8px;

    font-weight:600;

    color:#374151;
}

.form-group input{

    width:100%;

    padding:14px;

    border:1px solid #d1d5db;

    border-radius:10px;

    outline:none;

    font-size:15px;
}

.form-group input:focus{

    border-color:#2563eb;
}

.remember-row{

    margin-bottom:20px;

    color:#4b5563;

    font-size:14px;
}

button{

    width:100%;

    border:none;

    background:#2563eb;

    color:white;

    padding:14px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
    font-weight:600;

    transition:.2s;
}

button:hover{
    background:#1d4ed8;
}

button:disabled{
    opacity:.7;
    cursor:not-allowed;
}

.error-message{

    margin-top:15px;

    text-align:center;

    color:red;

    font-size:14px;
}