:root{
    --sidebar-width:240px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f6fa;
}

.container{
    display:flex;
}

.main{
    flex:1;
    margin-left:var(--sidebar-width);
}

/* .topbar{
    background:white;
    padding:20px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    border-bottom:1px solid #e5e7eb;
    position:sticky;
    top:0;
    z-index:10;
}

.user-box{
    display:flex;
    align-items:center;
    gap:15px;
}

.avatar-small{
    width:40px;
    height:40px;

    border-radius:50%;
    background:#2563eb;
    color:white;

    display:flex;
    align-items:center;
    justify-content:center;
} */

.course-container{
    background:white;

    margin:30px;
    padding:25px;

    border-radius:15px;
}

.filter-bar{
    margin-bottom:25px;
}

.search-box{
    width:360px;
    position:relative;
}

.search-box i{
    position:absolute;
    left:14px;
    top:14px;
    color:#9ca3af;
}

.search-box input{
    width:100%;
    padding:12px 12px 12px 42px;

    border:none;
    background:#f3f4f6;

    border-radius:8px;
}

.course-table{
    width:100%;
    border-collapse:collapse;
}

.course-table th{
    text-align:left;

    padding:15px 10px;

    border-bottom:1px solid #e5e7eb;
}

.course-table td{
    padding:18px 10px;

    border-bottom:1px solid #e5e7eb;
}

.available{
    color:#16a34a;
    font-weight:600;
}

.full{
    color:red;
    font-weight:600;
}

.detail-btn{
    color:#374151;
    text-decoration:none;

    display:flex;
    align-items:center;
    gap:8px;
}
/* .user-name{
    font-weight:600;
}

.user-id{
    color:#6b7280;
    font-size:13px;
} */