<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo"><i class="fa-solid fa-user-shield"></i></div>
        <div>
            <h2>Admin</h2>
            <span>Cổng quản trị</span>
        </div>
    </div>
    <div class="menu">
        <a href="dashboard.html" id="menu-dashboard" class="menu-item">
            <i class="fa-solid fa-chart-pie"></i>
            <span>Dashboard</span>
        </a>
        <a href="student-manage.html" id="menu-student" class="menu-item">
            <i class="fa-solid fa-user-graduate"></i>
            <span>Quản lý sinh viên</span>
        </a>
        <a href="course-manage.html" id="menu-course" class="menu-item">
            <i class="fa-solid fa-book"></i>
            <span>Quản lý môn học</span>
        </a>
        <a href="semester-manage.html" id="menu-semester" class="menu-item">
            <i class="fa-solid fa-calendar-days"></i>
            <span>Quản lý học kỳ</span>
        </a>
        <a href="class-manage.html" id="menu-class" class="menu-item">
            <i class="fa-solid fa-rectangle-list"></i>
            <span>Quản lý lớp HP</span>
        </a>
    </div>
    <div class="logout">

        <a href="#" class="menu-item" id="logoutBtn">

        <a href="#" class="menu-item" onclick="openModal('logout-confirm-modal')">

            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Đăng xuất</span>
        </a>
    </div>
</div>

